---
import Layout from '../layouts/Layout.astro';
import '@/styles/globals.css';
import { Image } from 'astro:assets';
import {
	Button,
	Card,
	CardDescription,
	CardHeader,
	CardTitle,
	Pomodoro,
	ThemeToggle,
} from '@/components/';
---

<Layout title="Let's Focus - Coming Soon">
	<main class="flex w-full flex-col items-center gap-8 p-8 md:h-screen md:justify-between md:gap-0">
		<Image src="/assets/zap.svg" alt="Logo" width="1" height="1" class="h-24 w-auto md:h-32" />

		<ThemeToggle client:load />

		<Pomodoro client:load />

		<div class="flex text-center font-bold">
			<Image src="/assets/dot.svg" alt="Logo" width="36" height="36" />
			<h3 class="text-2xl md:text-4xl">COMING SOON</h3>
			<Image src="/assets/dot.svg" alt="Logo" width="36" height="36" />
		</div>

		<div class="flex flex-col text-center">
			<h2 class="text-xl font-semibold text-muted-foreground md:text-3xl">
				Less distraction, more action
			</h2>
			<h1 class="text-6xl font-bold md:text-8xl">Let's Focus</h1>
		</div>

		<div class="flex flex-col flex-wrap gap-4 md:flex-row">
			<Card>
				<CardHeader className="items-center text-center">
					<CardTitle>
						<Image src="/assets/alarm-clock.svg" alt="Logo" width="36" height="36" />
					</CardTitle>
					<CardDescription className="text-xl font-semibold text-primary">
						Pomodoro
					</CardDescription>
				</CardHeader>
			</Card>

			<Card>
				<CardHeader className="items-center text-center">
					<CardTitle>
						<Image src="/assets/timer.svg" alt="Logo" width="36" height="36" />
					</CardTitle>
					<CardDescription className="text-xl font-semibold text-primary">
						Flowmodoro
					</CardDescription>
				</CardHeader>
			</Card>

			<Card>
				<CardHeader className="items-center text-center">
					<CardTitle>
						<Image src="/assets/notepad-text.svg" alt="Logo" width="36" height="36" />
					</CardTitle>
					<CardDescription className="text-xl font-semibold text-primary">
						To-Do List
					</CardDescription>
				</CardHeader>
			</Card>

			<Card>
				<CardHeader className="items-center text-center">
					<CardTitle>
						<Image src="/assets/disc-3.svg" alt="Logo" width="36" height="36" />
					</CardTitle>
					<CardDescription className="text-xl font-semibold text-primary">
						Lo-Fi Radio
					</CardDescription>
				</CardHeader>
			</Card>
		</div>

		<div class="flex gap-4">
			<Button variant="outline" size="icon">
				<a href="https://x.com/andryore" target="_blank" referrerpolicy="origin">
					<Image src="/assets/x_dark.svg" alt="Logo" width="24" height="24" />
				</a>
			</Button>

			<Button variant="outline" size="icon">
				<a href="https://github.com/andryore" target="_blank" referrerpolicy="origin">
					<Image src="/assets/github.svg" alt="Logo" width="24" height="24" />
				</a>
			</Button>
		</div>
	</main>
</Layout>
